$color-primary:#000;
@mixin link{
    a{
    text-decoration:none;
    background-color: transparent;
    color:black;
    }
}

*{
		padding: 0px;
		margin:0px;
		box-sizing: border-box;
}

body{
    width:100%;
    height:100%;
    margin:0;
    padding:30px;
}
.header-link,a{
    
}
.header{
    background-color: transparent;
    color:$color-primary;
    border-color:#080808;
    min-height:50px;
    border:1px solid transparent;
    margin: 0;
    padding: 0;
    width:100%;
    position: fixed;
    top: 0;
    margin-top: 50px;
}
.navbar-brand{
    float:left;
    height:50px;
   padding-left: 70px;
    font-size:30px;
    font-weight:bold;
    color:white;
    @include link;
}

.inner-header{
    width:100%;
    margin:0
}

/*.content{
    min-height: 600px;
}

.bi{
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: black;
    background: url(b1.jpg) no-repeat center;
    background-size: cover;
}

.innerbi{
    padding-top: 12%;
    padding-left:600px;
    width:80%;
    margin:auto;
}

.banner_content{
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    overflow:hidden;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}*/

.text-box{
    
}
//.btn:link,
//.btn:visited{
//color: #fff;
//background-color: red;
//border-color: white;
/*box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
/*padding-top:100px;
font-size: 18px;
border-radius: 6px;
}*/

.button{
    padding-top: 400px;
    float: left;
    padding-left: 150px;
}
/*.thumbnail {
    display: inline-block;

    height: auto;

    padding: 4px;

    margin-bottom: 20px;

    background-color: #fff;

   

    text-align: center;

    color: #666;

    margin: 50px;

}

.mov{
    padding-left: 150px;
}
footer{
    background-color: #000;
    color:#fff;
    font-size:20px;
    padding:10px;
}*/


.box{
		width: 100%;
		height: 200px;
		padding: 0;
		color: #000;
		font-family: sans-serif;
		text-align: center;
	}

.section-1{
          height: 100vh;
          background-image: url(img/b1.jpg);
          background-attachment: fixed;
          background-size: cover;
	}

.section-2{
		background: #ffffff;
	}

.section-3{
		background-color:chocolate;
        //background-attachment: fixed;
        background-size: cover;
	}

#featured{
    margin-top: 100px;
}

#featured ul{
    padding: 0;
}

#featured li{
    float: left;
    width: 23%;
    margin: 1%;
    list-style-type: none; 
}


#featured li img{
    width: 100%;
    margin-bottom: 10px;
}

#featured li a{
    color: #333;
    text-decoration: none;
    float: left;
}

#featured li span{
    float: right;
    color: #333;
}

#featured ul:after{
    content: "";
    display: block;
    clear: both;
}

.section-4{
		background: #009600;
	}

.box p{
		font-size: 20px;
		margin-top: 100px;
	}

/*.box h1{
		font-size: 50px;
		text-shadow:  0px 0px 5px #000;
	}*/
.about{
    height:900px;
}

.h1{
    font-weight: bold;
    color:white;
    padding-top:100px;
    
}
