* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 30px; }

.header {
  background-color: transparent;
  color: #000;
  border-color: #080808;
  min-height: 50px;
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  margin-top: 50px; }

.navbar-brand {
  float: left;
  height: 50px;
  padding-left: 70px;
  font-size: 30px;
  font-weight: bold;
  color: white; }
  .navbar-brand a {
    text-decoration: none;
    background-color: transparent;
    color: black; }

.inner-header {
  width: 100%;
  margin: 0; }


.button {
  padding-top: 400px;
  float: left;
  padding-left: 150px; 
    background-color:;
}

.button a{
    text-decoration:none;
    color:white;
}


.box {
  width: 100%;
  height: 200px;
  padding: 0;
  color: #000;
  font-family: sans-serif;
  text-align: center; }

.section-1 {
  height: 100vh;
  background-image: url(img/b1.jpg);
  background-attachment: fixed;
  background-size: cover; }

.whatsapp{
    right:0;
    position: fixed;
    background-color: green;
    width: 70px;
    height: 50px;
    font-size: 40px;
}
.whatsapp a{
    text-decoration: none;
    color:white;
}


.section-2 {
  background-image:linear-gradient(to right bottom,#fafba4,#a6dcef); 
 height:70vh;
    
    }


.section-3 {
  background-image:linear-gradient(to right bottom,#127681,#ec823a);
  height:80vh;
  
}

#what_we_do{
   color:white;
   padding-top:20px; 
    text-decoration: underline overline;
    text-decoration-color: white;
}

#expertise{
   font-weight: bolder;
    color:darkcyan;
    font-size: 50px;
    color:white;
    text-align: center;
}



.column {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



.box p {
  font-size: 20px;
  margin-top: 10px; }

.column p{
    margin: 0;
    color: #fff;
}

.about {
  height: 900px; 
  
}

#about_us {
    font-weight:lighter;
    font-size: 25px;
    text-decoration: underline overline;
    text-decoration-color:#bb3b0e;
}


.name {
  font-weight: bolder;
  color: white;
  padding-top: 100px;
  font-size: 60px;
}
.col_style h1{
    font-weight: bolder;
    color:darkcyan;
    font-size: 65px;
    width: 200px;
    height: 154px;
}
.col_style p{
   text-align:center;
   font-size: 25px;
    font:
}


/***************SECTION-4*****************/

.section-4{
  height:100%;  
   background-image:linear-gradient(to right bottom,#ffd3b6,#b2dffb); 
}

#our_work{
   color:black;
   padding-top:20px; 
    text-decoration: underline overline;
    text-decoration-color: black;
}

#what_we_love{
   font-weight: bolder;
    color:darkcyan;
    font-size: 50px;
    color:black;
    text-align: center;
}

#slider {
	overflow: hidden;
    margin-top: 20px;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 10s slider infinite;
}
#slider figure img {
	width: 10%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}
.text {
  color: red;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/************SECTION-5****************/
.section-5 {
  background:#3b6978;
  height:100%;
  background-attachment: fixed;
    background-size: cover;
   margin-top: 20px;
}

#clients{
   font-weight: bolder;
    font-size: 50px;
    color:black;
    text-align: center; 
}

.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
    
    margin-top: 20px;
}

.container ul{
    padding: 0px;
    margin: 0px;
    display: inline;
}


.client1{
    float:left;
    list-style: none;
    width:40%;
    height:300px;
    background:white;
    margin :20px 0px 20px 20px;; 
    margin-top: 10px;
    box-sizing: border-box;
   
}
.client2{
    float:right;
    list-style: none;
    width:50%;
    height:400px;/*87dfd6*/
    background:#beebe9;
    margin :20px 0px 20px 10px; 
  margin-top: 10px;
    box-sizing: border-box;
    
}
.container ul li:hover{
    opacity: 0.7;
}

.container ul li .bottom1{
    width: 100%;
    height:50px;
    line-height: 50px;
    background:#709fb0;    
    text-align: center;
    color:white;
    font-size: 20px;
   
}
.container ul li .bottom2{
    width: 100%;
    height:50px;
    line-height: 50px;
    background:#709fb0;    
    text-align: center;
    color:white;
    font-size: 20px;
   
}

/***************SECTION-6****************/

.section-6{
    
}

#hi{
   font-weight: bolder;
    font-size: 50px;
    color:darkcyan;
    text-align: center; 
}


   


 .container{
      width: 90%;
      margin: auto;
      overflow: hidden;
    }
    /* contact form css */


    #contact-section{
      background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)),url(img/contact.jpg);
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100% ;
      padding-bottom: 2%;
        background-attachment: fixed;
    }

    #contact-section .container h2{
      text-align: center;
       text-decoration: underline overline;
        text-decoration-color:white; 
        text-underline-position: under;
        color: rgb(238, 235, 235);
        letter-spacing: 2px;
        
    }

    

    #contact-section .container p{
      text-align: center; 
      width: 70%; 
      margin-left: auto;
       margin-right: auto; 
       padding-bottom: 3%;
       color: #fff;
       letter-spacing:3px;
        
    }

    .contact-form i.fa{
      /* color: red; */
      /* color: #fff; */
      font-size: 22px; 
      padding: 3%;
      background-color: none;
      border-radius: 80%;
      margin: 2%;
      /* border: 2px solid #fff; */
      cursor: pointer;
      border:2px solid rgb(190, 190, 190);
      color: rgb(190, 190, 190);
    
    }
    
    .contact-form i.fa:hover{
      cursor: pointer;
      border:2px solid white;
      color: white;
    }
     
      .contact-form{
        display: grid;
        grid-template-columns: auto auto;
         }
        

      .form-info{
        font-size: 16px;
        font-style: italic;
        color: white;
        letter-spacing: 2px;
        
      }

    .form-info a{
    text-decoration: none;
    color:white;
    }      

      input{
        padding: 10px;
        margin:10px;
        width: 70%;
        background-color:rgba(136, 133, 133, 0.5);
        color: white;
        border: none;
        outline:none;
      }

      input::placeholder{
        color: #42e6a4;
      }
    
       textarea{
      padding: 10px;
      margin: 10px;     
      width: 70%;
      background-color:rgba(136, 133, 133, 0.5);
      color: white;
      border: none;
      outline:none;
     }
     textarea::placeholder{
       color: #42e6a4;
     }
   
form{
    color:#fff;
}
      .submit{
      width: 40%;
      background: none;
      padding: 4px;
      outline: none;
       /* border: 1px solid #fff;
      color: #fff; */
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 33px;
      text-align: center;
      cursor: pointer;
      letter-spacing: 2px;
      margin-left: 3%;
      border:2px solid rgb(190, 190, 190);
      color: rgb(190, 190, 190);
     }

     .submit:hover{
           border: 1px solid #fff;
      color: #fff;
      cursor: pointer;
     }

        /* media queries */
    @media (max-width: 768px){

 #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
      }
      #contact-section .submit{

        width: 60%;
      }

  }



@media screen and (max-width:1250px){
    .container ul li{
        width:40%;
        margin-left: 10px;
         
    }
}
    .section-7{
        margin top:50px;height: 450px;
    }
    
    .section-7 p iframe{
        padding-left: 50px;
    }
    
    footer{
    background-color: #fff;
    color:#000;
    font-size:20px;
    padding:10px;
}

.section-8{
    bottom:0;
    padding-top: 60px;
    height: auto;
}


    
